<div class="container">
    <div class="top-bar">
        <!-- logo -->
        <a href="./" class="logo">
            <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo-img">
            <h1 class="logo__title">
                grocerymart
            </h1>
        </a>

        <!-- navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="#!" class="navbar__link">
                        Departments
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar__arrow icon">
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Grocery
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar__arrow icon">
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Beauty
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar__arrow icon">
                    </a>
                </li>
            </ul>
        </nav>

        <!-- action -->
        <div class="top-act">
            <!-- group-1 -->
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img src="./assets/icons/search.svg" alt="" class="top-act__icon icon">
                </button>
            </div>

            <!-- group-2 -->
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img src="./assets/icons/heart.svg" alt="" class="top-act__icon icon">
                    <span class="top-act__title">03</span>
                </button>

                <div class="top-act__separate"></div>

                <button class="top-act__btn">
                    <img src="./assets/icons/buy.svg" alt="" class="top-act__icon icon">
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>

            <!-- avt -->
            <div class="top-act__user">
                <img src="./assets/img/avt-img.jpg" alt="" class="top-act__avt">
            </div>
        </div>
    </div>
</div>