html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(98%) sepia(0%)
        saturate(0%) hue-rotate(2deg) brightness(101%) contrast(105%);

    --header-bg: #171c28;
    --top-act-group-bg: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-saparate: #ededf6;
}
