@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(40%)
        saturate(824%) hue-rotate(210deg) brightness(98%) contrast(99%);

    --body-bg: #f6f6f6;
    --header-bg: #eee;
    --top-act-group-bg: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-saparate: #ededf6;

    @include abstracts.breakpoint(lg) {
        --header-bg: #fff;
    }

    // dropdown
    --dropdown-bg: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
}
